@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Schoolbell&display=swap");

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
	font-size: 16px;
}

ul{
	list-style: none;
	padding: 0;
}

*:focus,
a:focus { 
	outline: 2px dotted  #a12312 ;
}

body{
background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1{
	margin: 0 auto;
}

header{
	display: flex;
	justify-content: center;
}

.groceryList {
	margin: 20px;
}

.groceryList li{
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-family: 'Schoolbell', cursive;
	font-size: 1.5rem;
	padding: 1px;
	width: 100%;
	text-indent: 50px;

}

button{
	color: #010203;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 0.5px #808080;
	text-transform: capitalize;
	}

.vegetableList button{
	background: #4ba351;

	}
.fruitList button{
	background: #e1351b;
}

.proteinList button{
	background: #E5B73B;

}

.List {
	display: flex;
	flex-wrap: wrap;
}

.paper {
	min-width: 300px;
	min-height: 500px;
	position: relative;
	margin: 10px ;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: white;
	box-shadow: 0px 0px 5px 0px #888;
}


.pattern {
	background-color: #fff;
	background-image: linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}


@media (min-width: 767px){
	

	.App{
		display: flex;
		flex-direction: column
	}

	.AppScreen {
		border: 20px solid black;
		border-radius: 20px;
		margin: 1% 5%;
		padding: 2%;
	}

	.contentSection{
		display: flex;
	}

	.AppScreen,
	.ListScreen{
		height: auto;
		width: 50%;
	}

	.ListScreen{
		margin: 1% 0;
		overflow-y: scroll;
	}


}


@media (min-width: 320px){

	h1 img{
		margin: 5% auto;
		width: 275px;
	}

	.paper::before {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 60px;
		background-color: #ff000099;
	}


	.groceryButton{ 
		margin: 10px;
		height: 50px;
		flex-shrink: 0;
		width: calc(33.33% - 20px);
	}


	.AppScreen {
		height: 100vh;
	}

	.GetList{
		background-color: #1a9d49;
		border: inset #808080 3px;
		border-radius: 10px;
		color: #ffffff;
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.25rem;
		font-weight: 700;
		margin: 10px auto;
		padding: 5px 15px;
		text-align: center;
		text-decoration: none;
		width: 50%;
	}

	.BackToTop{
		background-color: rgba(41, 41, 41, 0.7);
		color: #ffffff;
		display: block;
		font-weight: 700;
		padding: 10px;
		position: -webkit-sticky;
		position: sticky;
		right: 0; left: 0; bottom: 10px;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	.removeItem{
		background-color: transparent;
		border: none;
		color:  #a12312 ;
		font-size: 1.5rem;
	}	
	
}


